body {
    background-color: #FAFAFA;
}

.author {
    font-weight: bold;
}

.journal {
    font-style: italic;
}

.mdl-grid {
    max-width: 90%;
}

.id-block {
    margin-top: 10px;
    margin-bottom: 10px;
}

.center { 
    margin: auto;
    text-align: center;
}

.bold {
    font-weight: bold;
}

.publication {
    padding-left: 20px;
    margin-bottom: 40px;
}

.increment-block {
    padding-left: 40px;
}

.class-name {
    margin-bottom: 5px;
}

.class-description {
    margin-bottom: 5px;
}

.degree-chip {
    background-color: rgb(63,81,181);
    color: white;
}

.material-chip {
    background-color: rgb(255,171,64);
}

.material-chip span a {
    color: rgb(66,66,66);
    text-decoration: none;
    font-weight: 400;
}

#id-picture img {
    border-radius: 50%;
    height: 120px;
    margin: 10px;
    border: 2px white solid;
}

#id-card {
    background: url(images/header-background.jpg);
    background-size: cover;
    background-position: center center;
    color: white;
}

#id-title {
    font-size: 1.4em;
    margin: 0px;
}

#id-subtitle {
    margin-top: 10px;
    margin-bottom: 15px;
}

#profiles img {
    width: 30px;
}

#footer-card {
    min-height: 5px;
}

#footer-card p {
    margin: 0;
    padding: 0;
    text-align: center;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.2em;
}

button a {
    text-decoration: none;
    color: inherit;
}

.mdl-card__supporting-text {
    width: 95%;
    margin: auto;
}

.mdl-card__title {
    padding: 0;
    border-bottom: 1px solid #e0e0e0;
    overflow-x: auto;
}

.menu-bar {
    line-height: 46px;
    padding: 0;
    flex-grow: 0;
    flex-shrink: 0;
    margin: auto;
}

.menu-item {
    text-transform: uppercase;
    text-decoration: none;
    color: rgba(0,0,0,.54);
    min-width: max-content;
    font-weight: 500;
    font-size: 14px;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 46px;
    display: inline-block;
    height: 100%;
}

.active {
    color: rgba(0,0,0,.87);
    border-bottom: 2px solid rgb(63,81,181);
}

.increased-margin-li {
    margin-top: 10px;
    margin-bottom: 10px;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.5em;
}

#address div, #address p {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    line-height: unset;
}

#address {
    margin-top: 20px;
    margin-bottom: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid rgba(0,0,0,.12);
    font-size: 13px;
    white-space: normal;
}

tr {
    border-top: 1px solid rgba(0,0,0,.12);
    border-bottom: 1px solid rgba(0,0,0,.12);
}

td {
    white-space: normal;
    padding: 10px;
}

th {
    padding: 10px;
}

.right-align {
    text-align: right;
}
