body {
    background-color: #FAFAFA;
}

.author {
    font-weight: bold;
}

.journal {
    font-style: italic;
}

.mdl-grid {
    max-width: 90%;
}

.id-block {
    margin-top: 10px;
    margin-bottom: 10px;
}

.center { 
    margin: auto;
    text-align: center;
}

.bold {
    font-weight: bold;
}

.publication {
    padding-left: 20px;
    margin-bottom: 40px;
}

.increment-block {
    padding-left: 40px;
}

.class-name {
    margin-bottom: 5px;
}

.class-description {
    margin-bottom: 5px;
}

.degree-chip {
    background-color: rgb(63,81,181);
    color: white;
}

.material-chip {
    background-color: rgb(255,171,64);
}

.material-chip span a {
    color: rgb(66,66,66);
    text-decoration: none;
    font-weight: 400;
}

#id-picture img {
    border-radius: 50%;
    height: 100px;
    margin: 10px;
    border: 2px white solid;
}

#id-card {
    background: url(images/header-background.jpg);
    background-size: cover;
    background-position: center center;
    color: white;
}

#id-title {
    font-size: 1.4em;
    margin: 0px;
}

#id-subtitle {
    margin-top: 10px;
    margin-bottom: 15px;
}

#profiles img {
    width: 30px;
}

#footer-card {
    min-height: 5px;
}

#footer-card p {
    margin: 0;
    padding: 0;
    text-align: center;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

button a {
    text-decoration: none;
    color: inherit;
}

.mdl-card__supporting-text {
    width: 95%;
    margin: auto;
}
